{% extends 'main/layout.html' %}

{% block title %}Wines{% endblock %}

{% block body %}

<section id="winesnavbar" class="bg-cover h-[50vh] md:h-[100vh] flex flex-col scrollAnimation overflow-hidden">
    <!-- Navbar -->
    <nav class="relative container mx-auto p-6">
        <!-- Flexbox Container -->
        <div class="flex items-center justify-between">
            <a href="{% url 'index' %}" class="flex items-center text-white">
                <div class="sala text-4xl font-medium italic ffPD">Sala Bianca</div>
            </a>

            <!-- Menu Items -->
            <div class="hidden md:flex space-x-7 lg:space-x-12 font-semibold text-white lg:pe-4">
                <a href="{% url 'menu' %}" class="relative hoveredover">Menu</a>
                <a href="{% url 'reservations' %}" class="relative hoveredover">Reservations</a>
                <a href="{% url 'contact' %}" class="relative hoveredover">Contact</a>
                <a href="{% url 'about' %}" class="relative hoveredover">About Us</a>

                <!-- Icons -->
                <div class="hidden md:block space-x-2">
                    <a href="https://www.instagram.com/sala_bianca1998/">
                        <i class="firstIcon icon fa-brands fa-instagram fa-lg"></i>
                    </a>
                    <a href="https://www.facebook.com/people/Sala-Bianca-1998/100054220372066/">
                        <i class="firstIcon icon fa-brands fa-facebook fa-lg"></i>
                    </a>
                    <a href="{% url 'contact' %}">
                        <i class="firstIcon icon fa-regular fa-envelope fa-lg"></i>
                    </a>
                </div>
            </div>

            <button id="responsiveButton" class="block md:hidden">
                <span class="linetop"></span>
                <span class="linemiddle"></span>
                <span class="linebottom"></span>
            </button>

        </div>

        <!-- Mobile menu -->
        <div id="menu-wrap" class="md:hidden">
            <div id="menu" class="text-lg flex flex-col items-center py-8 mt-5 gap-8 rounded-sm font-semibold">
                <a href="{% url 'menu' %}">Menu</a>
                <a href="{% url 'reservations' %}">Reservations</a>
                <a href="{% url 'contact' %}">Contact</a>
                <a href="{% url 'about' %}">About Us</a>
            </div>
        </div>
    </nav>

    <div id="title" class="unfade flex flex-1 justify-center items-center text-4xl md:text-7xl text-white ffPD">WINE MENU</div>

</section>

<section id="menusection" class="bg-cover">
    <div class="pt-10 ps-5 md:ps-10 text-2xl md:text-3xl font-bold ffPD">White Wines</div>
    <div id="menuarea" class="grid p-5 md:p-10 gap-y-4 gap-x-10 font-medium ffPD">
        <div class="flex justify-between">
            <div>
                <div class="text-base md:text-xl font-semibold">Dry White Wine</div>
                <div class="text-sm md:text-base">13% vol</div>
            </div>
            <div class="text-sm md:text-base">€5,00</div>
        </div>
        <div class="flex justify-between">
            <div>
                <div class="text-base md:text-xl font-semibold">Paragka</div>
                <div class="text-sm md:text-base">13% vol</div>
            </div>
            <div class="text-sm md:text-base">€5,00 / €22,00</div>
        </div>
        <div class="flex justify-between">
            <div>
                <div class="text-base md:text-xl font-semibold">Texni Alipias</div>
                <div>13% vol</div>
            </div>
            <div class="text-sm md:text-base">€5,00 / €28,00</div>
        </div>
        <div class="flex justify-between">
            <div>
                <div class="text-base md:text-xl font-semibold">Ktima Alfa Malagouzia</div>
                <div class="text-sm md:text-base">13% vol</div>
            </div>
            <div class="text-sm md:text-base">€5,50 / €28,00</div>
        </div>
    </div>

    <div class="mt-4 text-center italic ffPD text-sm md:text-base">*All glasses are 150ml and all bottles are 750ml.</div>

    <div class="h-[1px] bg-black mt-4 w-11/12 mx-auto"></div>

    <div class="pt-10 ps-5 md:ps-10 text-2xl md:text-3xl font-bold ffPD">Red Wines</div>
    <div id="menuarea" class="grid p-5 md:p-10 gap-y-4 gap-x-10 font-medium ffPD">
        <div class="flex justify-between">
            <div>
                <div class="text-base md:text-xl font-semibold">Papaioannou Dry</div>
                <div class="text-sm md:text-base">13,5% vol</div>
            </div>
            <div class="text-sm md:text-base">€5,00 / €20,00</div>
        </div>
        <div class="flex justify-between">
            <div>
                <div class="text-base md:text-xl font-semibold">Paragka Dry</div>
                <div class="text-sm md:text-base">13% vol</div>
            </div>
            <div class="text-sm md:text-base">€5,50 / €25,00</div>
        </div>
        <div class="flex justify-between">
            <div>
                <div class="text-base md:text-xl font-semibold">Semi-sweet</div>
                <div class="text-sm md:text-base">12% vol</div>
            </div>
            <div class="text-sm md:text-base">€5,00</div>
        </div>
        <div class="flex justify-between">
            <div>
                <div class="text-base md:text-xl font-semibold">Sagria</div>
                <div class="text-sm md:text-base">13,5% vol</div>
            </div>
            <div class="text-sm md:text-base">€5,00</div>
        </div>
        <div class="flex justify-between">
            <div>
                <div class="text-base md:text-xl font-semibold">Portes Skouras</div>
                <div class="text-sm md:text-base">14% vol</div>
            </div>
            <div class="text-sm md:text-base">€28,00</div>
        </div>
        <div class="flex justify-between">
            <div>
                <div class="text-base md:text-xl font-semibold">Black Sheep Lazaridi</div>
                <div class="text-sm md:text-base">13% vol</div>
            </div>
            <div class="text-sm md:text-base">€5,00</div>
        </div>
    </div>

    <div class="mt-6 text-center italic ffPD text-sm md:text-base">*All glasses are 150ml and all bottles are 750ml.</div>

    <div class="h-[1px] bg-black mt-4 w-11/12 mx-auto"></div>

    <div class="pt-10 ps-5 md:ps-10 text-2xl md:text-3xl font-bold ffPD">Rose Wines</div>
    <div id="menuarea" class="grid p-5 md:p-10 gap-y-4 gap-x-10 font-medium ffPD">
        <div class="flex justify-between">
            <div>
                <div class="text-base md:text-xl font-semibold">Rose Akakies Mpoutari</div>
                <div class="text-sm md:text-base">13% vol</div>
            </div>
            <div class="text-sm md:text-base">€5,00 / €25,00</div>
        </div>
    </div>


</section>



{% endblock %}